/*My Custom CSS file*/

/* Triangle */
#up {
  width: 0px;
  height: 0px;
  border-style: inset;
  border-width: 0 35px 53.3px 35px;
  border-color: transparent transparent #F3F337 transparent;
  float: left;
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

#up p {
  text-align: center;
  top: 23px;
  left: -14.75px;
  position: relative;
  width: 23.25px;
  height: 23.25px;
  margin: 0px;
}

/* Vertical Line */
#vl {
  border-left: 6px solid blue;
  height: 25px;
  position: relative;
  margin-left: -3px;
  top: 0;
}

#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}


#linezone {
                position:absolute;
                background-color: #F7FBFE;
                }
            #elem{
                position: absolute;
                background-color: green;
                -webkit-user-select: none;
                -moz-user-select: none;
                -o-user-select: none;
                -ms-user-select: none;
                -khtml-user-select: none;     
                user-select: none;
            }


.container-fluid {
  background-image: url("utrgv.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  /*background-position: right 300px bottom 300px;*/

}

#background {
  background-image: url("utrgv.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #F7FBFE;
  /*background-position: right 300px bottom 300px;*/
}

#hidden {
  visibility: hidden;
}

/*vertical line*/
#verticalLine {
  border-left: thick solid blue;
  padding: 40px 0px 0px 0px;
  position: absolute;
  left:114px;
  top:1474px;
}

.horizontalLine {
        background-color:blue;
        width: 154px;
        height: 5px;
        position: absolute;
        left:114px;
        top:1470px;
}

.BhorizontalLine {
     color: #f00;
     background: #f00; 
     width: 154px; 
     height: 5px;
     position: absolute;
     left:259px;
     top:1513px;
     

}

.shortBhorizontalLine {
     color: #f00;
     background: #f00; 
     width: 81px; 
     height: 5px;
     top: 1513px;
     position: absolute;

}

.ShorizontalLine {
        background-color:blue;
        width: 70px;
        height: 5px;
        position: absolute;
        left:114px;
        top:1470px;
}

.SShorizontalLine {
        background-color:blue;
        width: 18px;
        height: 5px;
        position: absolute;
        left:114px;
        top:1470px;
}

/*******NEW VSM*******/
#NverticalLine {
  border-left: thick solid blue;
  padding: 40px 0px 0px 0px;
  position: absolute;
  left:64px;
  top:1574px;
}

.NhorizontalLine {
        background-color:blue;
        width: 154px;
        height: 5px;
        position: absolute;
        left:64px;
        top:1570px;
}

.NBhorizontalLine {
     color: #f00;
     background: #f00; 
     width: 154px; 
     height: 5px;
     position: absolute;
     left:209px;
     top:1613px;
     

}

.NshortBhorizontalLine {
     color: #f00;
     background: #f00; 
     width: 81px; 
     height: 5px;
     top: 1613px;
     position: absolute;

}

.NShorizontalLine {
        background-color:blue;
        width: 70px;
        height: 5px;
        position: absolute;
        left:64px;
        top:1570px;
}

.NSShorizontalLine {
        background-color:blue;
        width: 67px;
        height: 5px;
        position: absolute;
        left:64px;
        top:1570px;
}




/* top ; right ;  bottom ; left*/

